@tailwind base;
@tailwind components;
@tailwind utilities;

.golos-text {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.glow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
  @keyframes appear {
        from {
          opacity: 0;
          clip-path: inset(100% 100% 0 0);
        }
        to {
          opacity: 1;
          clip-path: inset(0 0 0 0);
        }
      }

      .anime {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
      }